
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                        I'm a mixed methods researcher fluent in UX methodolgy. I have a passion for evaluating digital health technology and talking with users about their experiences.
                    </p>
                </div> 
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Qualitative</h3>
                    <p class="paragraph-text center-align">
                        * Survey Design<br>
                        * User Interviews<br>
                        * Thematic Analysis<br>
                        * Cognitive Walkthroughs<br>
                        * IRB and Protocol Development<br>
                        * Usability Testing<br>
                    </p>
                       
                    <h3 class="center-align skills-subsection">Quantitative</h3>
                    <p class="paragraph-text center-align">
                        <ul>
                          <li>Statistics and Data Visualization with R</li>
                          <li>Survey Analysis</li>                          
                          <li>EEG, HRV collection</li>
                          <li>Processing, p5.js</li>
                        </ul>
                    </p>

                </div> 
            </div>
        </div>
    </section>
</div>
